.App {
  text-align: center;
  overflow: auto;
  background-image: url("../../client/src/img/countries.png");
  background-size: cover;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width: 100%; */
  height: 100vh;  /* ajustar a la altura de la pantalla */
  border: 3px solid rgba(255, 0, 174, 0);
  
}

