.containerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 10vh;
  margin-right: 5%;
  margin-left: 5%;
  width: 85%;
}






