.landingContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../../img/countries.png");
  background-size: cover;
  flex-direction: column;
}

h1 {/* TODO: PONER SHADOW al BACKGROUND  */
    color: black;
    background: #fffc00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9F54B, #f9f8a4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9F54B,#f9f8a4 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3px solid rgba(0, 0, 0, 0.635);   
    border-radius: 1rem;
    width:35%;

}
    
  
  h3 {
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    width: 20%;
    margin-top: 2%;
    text-align: center;
  }
  
  button {
    background: #3F979B;
    padding: 10px 2rem;
    border: 0;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    border-radius: 100rem;
    transition: 0.2s;
    font-weight: 600;
  }
  
  button:hover {
    outline-offset: 4.5px;
    background: #FFED00;
 }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: yellow;
  }


  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
    }
  }