.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #205e61f7;
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.NavBar a { 
    text-decoration:none;
    display: inline-block;
}



img {
    vertical-align: middle;
}

.link { 
    /* !No se renderiza al medio */
    display: flex;
    align-items: center;
    background: #3F979B;
    top: 0px;
    border: 0;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    border-radius: 100rem;
    transition: 0.2s;
    font-weight: 600;
    cursor:  pointer; 
    vertical-align: middle;
  } 
  
  .link:hover {
    outline-offset: 4.5px;
    background: #FFED00;    
 }

/* Para hacer la NavBar responsive */
@media screen and (max-width: 768px) {
    .NavBar {
        flex-basis: 100%;
    }
}
